<!DOCTYPE html>
<html lang="en">
<head>
    <title>Class List: Create</title>
    <meta charset="utf-8" />
</head>
<body>
    <form action="./api/edit" method="post">
    <div>
        <label for="studentName">Enter Name To Change:</label>
        <input type="text" id="studentToEdit" name="studentToEdit">
    </div>
    <div>
        <label for="newName">Enter New Name:</label>
        <input type="text" id="change" name="change">
    </div>
    <div class="button">
        <button type="submit">Add</button>
    </div>
</form>
</body>
</html>